@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Manrope', sans-serif;
}

@theme {
  --color-primary-70: #a83961;
  --color-primary-90: #bc3e6c;
  /* --color-primary-100: #007f5f; */
  --color-primary-100: #cd4074;
  --color-primary-100: #ffad56;
  --color-primary-150: #ffa647;
  /* --color-primary-200: #2b9348; */
  --color-primary-200: #ff9c32;
  --color-primary-300: #ff9523;
  /* --color-secondary: #62bf37; */
  --color-secondary: #ffc88e;
  /* --color-secondary: #6bd33b; */
}

/* clerk btn */

/* .cl-internal-1od8zdn {
  background: #ffa647;
  border-color: #ffa647 !important;
  outline: #ffa647;
}

.cl-internal-1od8zdn:hover {
  background: #ed9940;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* cl-formButtonPrimary cl-button 🔒️ cl-internal-1od8zdn */
